/* CertificateSection.css */
.certificate-section {
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  text-align: justify;
}

.certificate-section:hover {
  background-color: #e1f5fe;
  cursor: pointer;
  transform: scale(1.05);
}
